.sub-nav{
    background-color: white;
    padding:1%;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top:4.5rem;
    
}
.sub-nav select{
    outline: none;
    border:none;
    background-color: transparent;
}
 @media (max-width:425px){
    .sub-nav select{
        font-size: 7px;
    }
 }